// @mixin flex-justify($just-content) {
//   display: flex;
//   justify-content: $just-content;
// }
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
}

.drink-flexbox {
  // @include flex-justify(space-around);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

.cocktail-card {
  display: flex;
  width: 33%;
  height: 60vh;
  overflow: hidden;


  .drink-image {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .drink-info-overlay {
    position: relative;
    bottom: 95%;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: "Sorts Mill Goudy", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
      list-style-type: none;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: .9em;
    }
    h3 {
      font-size: 2.5em;
      margin-bottom: 10px;
    }
    p {
      font-size: .8em;
    }
    button {
      margin-top: 40px;
      padding: 5px 10px 2px 10px;
      transition: .35s ease;
      align-self: center;
      width: 50%;
      background-color: rgba(0, 0, 0, .2);
      font-family: "Sorts Mill Goudy", serif;
    }
    button:hover {
      background-color: rgba(0, 0, 0, .8);
      color: white;
    }
  }
}

.instructions-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  // transform: translate(-50%, -50%);
  .instructions-modal {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.7);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
    }
    span {
      font-size: .8em;
      font-weight: bold;
      padding: 20px;
    }
    h3 {
      font-size: 2em;
      font-family: "Sorts Mill Goudy", serif;
    } 

    p {
      width: 60%;
      font-size: 1.3em;
    }
    button {
      position: relative;
      top: -10%;
      align-self: flex-end;
      margin-right: 10%;
      padding: 5px 10px;
    }

  }
}

.opaque-drink {
  opacity: .5;
}

.header-div {
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 15vh;
    .drink-input {
      padding: 10px 15px;
      width: 60vw;
      font-size: 2em;
      height: 70%;
      text-align: center;
    }
}
