@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*, body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  min-width: 370px; }

h1 {
  color: red; }

.header-div {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 15vh;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto; }
  .header-div .drink-input {
    padding: 10px 15px;
    width: 60vw;
    font-size: 2em;
    height: 70%;
    text-align: center; }

.drink-flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto; }

.cocktail-card {
  display: flex;
  width: 33.33%;
  height: 35vw;
  overflow: hidden;
  border: 2px solid black; }
  .cocktail-card .drink-image {
    width: 100%;
    height: 100%;
    position: relative; }
  .cocktail-card .drink-info-overlay {
    position: relative;
    bottom: 95%;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: "Sorts Mill Goudy", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .cocktail-card .drink-info-overlay li {
      list-style-type: none;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: .9em; }
    .cocktail-card .drink-info-overlay h3 {
      font-size: 2.5em;
      margin-bottom: 10px; }
    .cocktail-card .drink-info-overlay p {
      font-size: .8em; }
    .cocktail-card .drink-info-overlay button {
      padding: 5px 10px 2px 10px;
      align-self: center;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      font-family: "Sorts Mill Goudy", serif;
      font-size: 1.1em;
      transition: .35s ease; }
    .cocktail-card .drink-info-overlay button:hover {
      background-color: rgba(0, 0, 0, 0.8);
      color: white; }

.instructions-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); }
  .instructions-overlay .instructions-modal {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif; }
    .instructions-overlay .instructions-modal img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      margin-bottom: 20px; }
    .instructions-overlay .instructions-modal span {
      font-size: .8em;
      font-weight: bold;
      padding: 20px; }
    .instructions-overlay .instructions-modal h3 {
      font-size: 2em;
      font-family: "Sorts Mill Goudy", serif; }
    .instructions-overlay .instructions-modal p {
      width: 60%;
      font-size: 1.3em; }
    .instructions-overlay .instructions-modal button {
      position: relative;
      align-self: flex-end;
      margin-right: 10%;
      top: -5%;
      font-size: 1em;
      font-family: "Sorts Mill Goudy", serif;
      padding: 7px 10px 3px 10px; }

.opaque-drink {
  opacity: .5; }

@media only screen and (max-width: 1024px) {
  .drink-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw; }

  .cocktail-card {
    display: flex;
    width: 50%;
    height: 50vw;
    overflow: hidden; }
    .cocktail-card .drink-image {
      width: 100%;
      height: 100%;
      position: relative; }

  .instructions-modal p {
    font-size: 1em; } }
@media only screen and (max-width: 500px) {
  .drink-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw; }

  .cocktail-card {
    display: flex;
    width: 100%;
    height: 60vh;
    overflow: hidden; }
    .cocktail-card .drink-image {
      width: 100%;
      height: 100%;
      position: relative; }

  .instructions-modal p {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
